@font-face {
		font-family: "Lato";
		src: url(Lato-Light.ttf);
}

@-webkit-keyframes bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1440px 0, -1920px 0;
    }
}

@-moz-keyframes bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1440px 0, -1920px 0;
    }
}

@keyframes bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1440px 0, -1920px 0;
    }
}

@-webkit-keyframes star {
    from {
        right: -6px;
    }
    to {
        right: 100%;
    }
}

@-moz-keyframes star {
    from {
        right: -6px;
    }
    to {
        right: 100%;
    }
}

@keyframes star {
    from {
        right: -6px;
    }
    to {
        right: 100%;
    }
}
