@font-face {
		font-family: "Lato";
		src: url(Lato-Light.ttf);
}

html, body {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		overflow: hidden;
		cursor: default;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
}

html {
		background: black;
}

body {
		opacity: 0;
}

h1, h2 {
		font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 200;
		user-select: none;
		-webkit-user-select: none;
}

h1 {
		font-size: 7.5em;
		margin: 0;
}

h2 {
		font-size: 3em;
		margin-top: 0em;
		margin-bottom: 0.5em;
}

.fade-body {
		opacity: 1;
}

.bg {
		top: 0;
		z-index: -1;
		position: fixed;
		height: 100%;
		width: 100%;
		background: url(img/scroll.png), url(img/bg.png);
		-webkit-animation: bg 60s linear infinite;
		animation: bg 60s linear infinite;
}

.star {
		position: fixed;
		right: -6px;
}

.center {
		color: white;
		position: relative;
		top: 50%;
		left: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
		text-align: center;
}

.center a {
		display: inline-block;
		background-size: 6em;
		width: 6em;
		height: 6em;
		margin: 1.5em;
		/*-webkit-transition: -webkit-transform 0.5s ease, background 0.5s ease;
	transition: transform 0.5s ease, background 0.5s ease;*/
		background-repeat: no-repeat;
		z-index: 1;
		border-radius: 50%;
}


/*.center a:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	border-radius: 50%;
}*/

.music {
		background-image: url(img/music.svg);
}

.facebook {
		background-image: url(img/facebook.svg);
}

.soundcloud {
		background-image: url(img/soundcloud.svg);
}

.fade {
		opacity: 1;
		/*position: relative;*/
}

.faded {
		/*-webkit-animation: fade 1s ease-out;
	animation: fade 1s ease-out;
	top: 0px;
	opacity: 1;*/
}
