@font-face {
		font-family: "Lato";
		src: url(Lato-Light.ttf);
}

html, body {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		overflow: hidden;
		cursor: default;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
}

html {
		background: black;
}

a {
		display: inline-block;
		background-size: 6.5em;
		width: 6.5em;
		height: 6.5em;
		margin: 1.5em;
		-webkit-transition: -webkit-transform 0.5s ease, background 0.5s ease;
		transition: transform 0.5s ease, background 0.5s ease;
		background-repeat: no-repeat;
		border-radius: 50%;
}

a:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	border-radius: 50%;
}

h1, h2 {
		font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 200;
		user-select: none;
		-webkit-user-select: none;
		margin: 0;
}

h1 {
		font-size: 8em;
}

h2 {
		font-size: 4em;
}

.bg {
		top: 0;
		z-index: -1;
		position: fixed;
		height: 100%;
		width: 100%;
		background: url(img/scroll.png), url(img/bg.png);
		-webkit-animation: bg 60s linear infinite;
		animation: bg 60s linear infinite;
}

.star {
		position: fixed;
		right: -6px;
}

.center {
		position: relative;
		top: 50%;
		left: 50%;
		text-align: center;
		color: white;
		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
}

.bandcamp {
		background-image: url(img/bandcamp.svg);
}

.facebook {
		background-image: url(img/facebook.svg);
}

.soundcloud {
		background-image: url(img/soundcloud.svg);
}
